<h2><%= link_to current_user.name, current_user%></h2>

<% @postagens.each do |p| %>
<div class="posts-usuario">
    <%= link_to p.user.name, p.user%>
    <h4><%= p.title %></h4>
    <p><%= p.content %></p>
    <%= link_to 'Comentarios', p%>
</div>
<% end %>