<h1> My Profile </h1> 
<p>Username: <%=h @user.username %></p>
<p><%= link_to "Find Friends", users_path %></p>

<h3>Your Friends</h3>
<ul>
  <% for friendship in @user.friendships %>
  <li>
    <%= friendship.friend.username %>
    (<%= link_to "remove", friendship, :method => :delete %>)
  </li>
  <% end %>  
</ul>

<h2>Posts</h2>
<% if current_user.id==@user.id %>
<%= link_to 'Novo Post', new_post_path %>
<% end %>
<% @posts.reverse.each do |post| %>
  <% if post.user&.id == @user.id %>
    <div class="posts-usuario">
      <h4><%= post.title %></h4>
      <p><%= post.content %></p>
      <%= link_to 'Comentarios', post%>
    </div>
  <% end %>
<% end %>
