<p id="notice"><%= notice %></p>

<p>
  <strong><%= @post.user.name %></strong>  
</p>

<p>
  <strong><h5><%= @post.title %><h5></strong>
</p>

<br>

<p>
  <%= @post.content %>
</p>
<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<p>
  <%= button_to 'Like', post_likes_path(@post), method: :post %>
</p>
<br>

<% @comments.each do |comment| %>
  <% if comment.post_id==@post.id %>
  <div class="posts-usuario">
    <h2><%= comment.user.name %></h2>
    <p><%= comment.content %></p>
    <%if !!(comment.like_comments)%>
      <p><%= comment.like_comments.count %> <%= (comment.like_comments.count) == 1 ? 'Like' : 'Likes'%></p>
    <%end%>
    <%= button_to 'Like_Comment', comment_like_comments_path(comment), method: :post %>

  </div>
  <% end %>
<% end %>

<br>

<%= render 'comments/form' %>